.App-title {
  text-align: center;
  font-family: 'IBM Plex Sans', sans-serif;
}

.Snippet {
  min-width: 475px;
  margin-bottom: 2em;
}

.numberOfSnippets  {
  font-size: 1em;
  text-align: center;
  color:white;
  background-color: #EF5350;
  padding: 0.5em;
  width: 2em;
  height: 2em;
  border-radius: 50%;
}
.loader {
    margin: 0 auto;
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #dadada; /* Blue */
    border-radius: 50%;
    width: 80px;
    height: 80px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
